name: redis-project

services:
  redis:
    image: "redis:latest"
    container_name: "redis"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend

    ports:
      - "4000:3000"
